body{
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;

}

h1{
	font-family: 'Sacramento', cursive;
	font-size: 5.625rem;
	margin-top: 50px auto 0 auto;
	color: #66BFBF;
	
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	color: #34656D;
	font-weight: bolder;
	font: left;


	
}
h3{
	font-family: 'Montserrat', sans-serif;
	color: #34656D;
}
a{
	color: #214151;
}

hr{
	border: dotted #EAf6f6;
	border-bottom: none;
	width: 4%;
	margin: 50px auto;
	
}

div{
	margin-bottom: 40px;
}
table{
	margin-bottom: 0;
}
.description{
	width: 50%;
	margin: 40px auto 40px auto;
}
.info{
	width: 40%;
	margin: 40px auto 60px;
}
.top-container{
	background-color: #e4f9f5;
	padding-top: 100px;
	position: relative;

}
.middle-container{
	width: 65%;
	margin: auto;
	line-height: 30px;
	background-color: #DEEDF0;

	
}
.bottom-container{
	line-height: 30px;
	background-color: #B2B8A3;
}
.skill-row{
	width: 65%;
	margin: 50px auto 50px auto;
	text-align: left;
	line-height: 2;
}
.styledbtn{
	border-radius: 12px;
	margin-bottom: 30px;
	font-size: 12px;
	background-color:  ;
}
.styledbtn:hover{
	background-color: #34656D;
	transition-duration: 0.4s;
}
.profileimg{
	margin-top: 30px;
}
#cloud1{
	top: 40px;
	right: 25%;
	position: absolute;
}
#cloud2{
	left: 20%;
	position: absolute;
	bottom: 250px;
	

}
#skillimage{
	width: 25%;
	float: left;
	margin-right: 50px;
	margin-left: 30px;
}
#marketingskill{
	width: 35%;
	float: right;
	margin-left: 50px;
	margin-top: 35px;
	margin-bottom: 20px;
}
